<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-info">
        <h2>Submitted Info</h2>
        <span>
            <label for="Name">Name:</label>
            <p>@ViewBag.Name</p>
        </span>
        <span>
            <label for="Location">Dojo Location:</label>
            <p>@ViewBag.Location</p>
        </span>
        <span>
            <label for="Language">Favorite Language:</label>
            <p>@ViewBag.Language</p>
        </span>
        <span>
            <label for="Comment">Comment:</label>
            <p>@ViewBag.Comment</p>
        </span>
        <a href="/"><button class="back">Go back</button></a>
    </div>
</body>
</html>